html {
  background: url(image/new.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.corpo{
  background-color: #DDDDDD;
  opacity: 0.70;
  background-size: cover;
  height: 750px;
  z-index: 10;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding-top: 30px;
  text-align: center;
  box-shadow: -8px 8px 10px black;
}

.endgame {
    max-width: 100%;
    max-height: 100%;
}


.latoA{
  height: 78%;
  width: 90%;
  background-color: white;
  z-index: 20;
  margin: 30px auto;
  overflow: hidden;
  box-shadow: -8px 8px 8px #bfbfbf;
}

.tabella{
  height: 90%;
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
  font-family: "Lucida Console", Monaco, monospace;
}

.tabella_left{
  height: 90%;
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
  font-family: "Lucida Console", Monaco, monospace;
  vertical-align: middle;
}

.shiny-button {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  font-weight: normal;
  font-family: "Lucida Console", Monaco, monospace;
  color: #FFFFFF;
  font-size: 12px;
  background-color: #DDDDDD;
  background-image: -webkit-linear-gradient(top, #808080 0%, #919191 48%, #7D7D7D 49%, #7D7D7D 82%, #8b8b8b 100%);
  background-image: -moz-linear-gradient(top, #808080 0%, #919191 48%, #7D7D7D 49%, #7D7D7D 82%, #8b8b8b 100%);
  background-image: -o-linear-gradient(top, #808080 0%, #919191 48%, #7D7D7D 49%, #7D7D7D 82%, #8b8b8b 100%);
  background-image: linear-gradient(top, #808080 0%, #919191 48%, #7D7D7D 49%, #7D7D7D 82%, #8b8b8b 100%);
  border-color: hsl(0, 0%, 49%);
  -webkit-box-shadow: inset 0 0 1px 1px #969696, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #969696, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #969696, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #4a4a4a;
  -moz-text-shadow: 1px 1px 1px #4a4a4a;
  -o-text-shadow: 1px 1px 1px #4a4a4a;
  text-shadow: 1px 1px 1px #4a4a4a;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 8.399999999999999px 21px 8.399999999999999px 21px;
  margin: 10px;
}

.shiny-button strong {
  letter-spacing: 1px;
  font-size: 22px;
}

.shiny-button:hover {
  color: #FFFFFF;
  background-color: #858585;
  background-image: -webkit-linear-gradient(top, #888 0%, #999 48%, #858585 49%, #858585 82%, #939393 100%);
  background-image: -moz-linear-gradient(top, #888 0%, #999 48%, #858585 49%, #858585 82%, #939393 100%);
  background-image: -o-linear-gradient(top, #888 0%, #999 48%, #858585 49%, #858585 82%, #939393 100%);
  background-image: linear-gradient(top, #888 0%, #999 48%, #858585 49%, #858585 82%, #939393 100%);
  border-color: hsl(0, 0%, 52%);
  -webkit-box-shadow: inset 0 0 1px 1px #9e9e9e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #9e9e9e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #9e9e9e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #525252;
  -moz-text-shadow: 1px 1px 1px #525252;
  -o-text-shadow: 1px 1px 1px #525252;
  text-shadow: 1px 1px 1px #525252;
}

.shiny-button:active {
  color: #FFFFFF;
  background-color: #757575;
  background-image: -webkit-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: -moz-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: -o-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: linear-gradient(top, #707070 0%, #7D7D7D 100%);
  padding: 9.399999999999999px 21px 7.399999999999999px 21px;
}

.shiny-button:disabled {
  color: #FFFFFF;
  background-color: #757575;
  background-image: -webkit-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: -moz-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: -o-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: linear-gradient(top, #707070 0%, #7D7D7D 100%);
  padding: 9.399999999999999px 21px 7.399999999999999px 21px;
}

textarea{
    resize: none;
    padding: 10px;
    border-radius: 8px;
    outline:none;
}


.drag_obj{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin: 5px;
  width: 25px;
  height: 20px;
  padding-top: 5px;
  background-color: #DDDDDD;
}

.drag_obj1{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin: 5px;
  width: 43px;
  height: 41px;
  padding-top: 5px;
  padding-left: 5px;
  background-color: #DDDDDD;
  margin-left: 50px;
}

.drag_obj2{

  margin: 6px;
  width: 40px;
  height: 35px;
  padding-top: 5px;
}

.table_char{
  border-width: : 1px;
  border-radius: 10px;
  background-color: #858585;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding-left: 35px;
  box-shadow: -8px 8px 8px #bfbfbf;
}

.dice{
  color: #FFFFFF;
  background-color: #757575;
  background-image: -webkit-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: -moz-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: -o-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: linear-gradient(top, #707070 0%, #7D7D7D 100%);
  padding: 9.399999999999999px 21px 7.399999999999999px 21px;
}

.underline{
  border-bottom-width: 1px;
  border-bottom-color: black;
  margin-bottom: 10px;
}
.descout{
  box-shadow: -8px 8px 14px #bfbfbf;
  border: 1px solid grey;
  border-radius: 8px;
  height: 100%;
}
.scroll_menu {
box-shadow: -8px 8px 14px #bfbfbf;
border-top: 1px solid grey;
border-left: 1px solid grey;
border-bottom: 1px solid grey;
border-radius: 8px;
padding: 5px;
margin-left: 8px;
margin-bottom: 32px;
margin-top: 4px;
height: 90%;
width: 75%;
overflow: scroll;
overflow-x:hidden;
}

/* Scrollbar styles */
.scroll_menu::-webkit-scrollbar {
width: 12px;
}

.scroll_menu::-webkit-scrollbar-track {
background: #DDDDDD;
border: 1px solid grey;
border-radius: 10px;
-webkit-border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scroll_menu::-webkit-scrollbar-thumb {
background: white;
border: 1px solid #DDDDDD;
border-radius: 10px;
-webkit-border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.scroll_menu::-webkit-scrollbar-thumb:hover {
background: darkgrey;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}


.image1{
  box-shadow: -8px 8px 14px #bfbfbf;
  border: 1px solid grey;
  border-radius: 8px;
}

.framen{
  box-shadow: -8px 8px 14px #bfbfbf;
  border: 1px solid grey;
  border-radius: 8px;
  height: 50px;
  width: 50px;
  align: center;
  padding-bottom: 5px;
}

.divAppend{
  border: 1px solid black;
  border-radius: 8px;
  padding: 2px;
  width: 100%;
}
