td{
  text-align: center;
  vertical-align: middle;
}

.logTxt{
  text-align: center;
  font-size: 18px;
  color: grey;
  font-family: monospace;
  font-variant: small-caps;
}

.inv{
  border: 1px solid black;
  border-radius: 8px;
  width: 95%;
  height: 95%;
  padding: 10px;
  position: absolute;
  right: 0;
  left: 22;
  top: 8;
  bottom: 0;
}

.markett{
  align: center;
  border: 1px solid black;
  border-radius: 8px;
  width: 95%;
  height: 95%;
  padding: 10px;
  padding-left: 25px;
  position: absolute;
}

#battle{
  border: 1px solid black;
  border-radius: 8px;
  width: 95%;
  height: 95%;
  padding: 10px;
  position: absolute;
  right: 0;
  left: 22;
  top: 8;
  bottom: 0;

}
#battle tr{
  height: calc(100%/3);
}
#pg_name, #en0_name, #en1_name, #en2_name{
  font-size: x-large;
  font-weight: bold;
}
.labelPG{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.stat_life{
  width: 95%;
}

.stat_life::-webkit-progress-bar{
  background: lightgrey;
}

progress{
  -webkit-appearance: none;
  position: relative;
  top: 8px;
}
progress::-webkit-progress-bar {
	background: #6b696b;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
}
progress::after {
  content: attr(value) '/' attr(max);
  position: relative;
  bottom: 17.5px;
  font-size: small;
}
.box_out{
  border: 1px solid grey;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 85%;
}

.stat_table{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 85%;
  flex-grow: 1;
}

.stat_div{
  height: 45px;
  width: 45px;
  display:table-cell;
}

.box_out1{
  border: 1px solid grey;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  align-items:baseline;
  justify-content:center;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.desc{
  width: 95%;
  height: 85%;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
  resize: none;
  outline: none;
  box-sizing: border-box;
}

.shiny-button {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  font-weight: normal;
  font-family: "Lucida Console", Monaco, monospace;
  color: #FFFFFF;
  font-size: 12px;
  background-color: #DDDDDD;
  background-image: -webkit-linear-gradient(top, #808080 0%, #919191 48%, #7D7D7D 49%, #7D7D7D 82%, #8b8b8b 100%);
  background-image: -moz-linear-gradient(top, #808080 0%, #919191 48%, #7D7D7D 49%, #7D7D7D 82%, #8b8b8b 100%);
  background-image: -o-linear-gradient(top, #808080 0%, #919191 48%, #7D7D7D 49%, #7D7D7D 82%, #8b8b8b 100%);
  background-image: linear-gradient(top, #808080 0%, #919191 48%, #7D7D7D 49%, #7D7D7D 82%, #8b8b8b 100%);
  border-color: hsl(0, 0%, 49%);
  -webkit-box-shadow: inset 0 0 1px 1px #969696, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #969696, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #969696, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #4a4a4a;
  -moz-text-shadow: 1px 1px 1px #4a4a4a;
  -o-text-shadow: 1px 1px 1px #4a4a4a;
  text-shadow: 1px 1px 1px #4a4a4a;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 8.399999999999999px 21px 8.399999999999999px 21px;
  margin: 10px;
}

.shiny-button strong {
  letter-spacing: 1px;
  font-size: 22px;
}

.shiny-button:hover {
  color: #FFFFFF;
  background-color: #858585;
  background-image: -webkit-linear-gradient(top, #888 0%, #999 48%, #858585 49%, #858585 82%, #939393 100%);
  background-image: -moz-linear-gradient(top, #888 0%, #999 48%, #858585 49%, #858585 82%, #939393 100%);
  background-image: -o-linear-gradient(top, #888 0%, #999 48%, #858585 49%, #858585 82%, #939393 100%);
  background-image: linear-gradient(top, #888 0%, #999 48%, #858585 49%, #858585 82%, #939393 100%);
  border-color: hsl(0, 0%, 52%);
  -webkit-box-shadow: inset 0 0 1px 1px #9e9e9e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #9e9e9e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #9e9e9e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #525252;
  -moz-text-shadow: 1px 1px 1px #525252;
  -o-text-shadow: 1px 1px 1px #525252;
  text-shadow: 1px 1px 1px #525252;
}

.shiny-button:active {
  color: #FFFFFF;
  background-color: #757575;
  background-image: -webkit-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: -moz-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: -o-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: linear-gradient(top, #707070 0%, #7D7D7D 100%);
  padding: 9.399999999999999px 21px 7.399999999999999px 21px;
}

.shiny-button:disabled {
  color: #FFFFFF;
  background-color: #757575;
  background-image: -webkit-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: -moz-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: -o-linear-gradient(top, #707070 0%, #7D7D7D 100%);
  background-image: linear-gradient(top, #707070 0%, #7D7D7D 100%);
  padding: 9.399999999999999px 21px 7.399999999999999px 21px;
}

.statinv {
  text-align: right;
}

.statinv1 {
  height:"20%";
  width:"50%";
}

.battlebtn {
  background: #bdbdbd;
  background-image: -webkit-linear-gradient(top, #bdbdbd, #78797a);
  background-image: -moz-linear-gradient(top, #bdbdbd, #78797a);
  background-image: -ms-linear-gradient(top, #bdbdbd, #78797a);
  background-image: -o-linear-gradient(top, #bdbdbd, #78797a);
  background-image: linear-gradient(to bottom, #bdbdbd, #78797a);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  /*font-size: 20px;*/
  border: solid #6b696b 4px;
  text-decoration: none;
}

.battlebtn:hover {
  background: #bf342c;
  background-image: -webkit-linear-gradient(top, #bf342c, #470707);
  background-image: -moz-linear-gradient(top, #bf342c, #470707);
  background-image: -ms-linear-gradient(top, #bf342c, #470707);
  background-image: -o-linear-gradient(top, #bf342c, #470707);
  background-image: linear-gradient(to bottom, #bf342c, #470707);
  text-decoration: none;
}

.playerbtn {
  background: #bdbdbd;
  background-image: -webkit-linear-gradient(top, #bdbdbd, #78797a);
  background-image: -moz-linear-gradient(top, #bdbdbd, #78797a);
  background-image: -ms-linear-gradient(top, #bdbdbd, #78797a);
  background-image: -o-linear-gradient(top, #bdbdbd, #78797a);
  background-image: linear-gradient(to bottom, #bdbdbd, #78797a);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  /*font-size: 20px;*/
  border: solid #6b696b 4px;
  text-decoration: none;
}

.scroll_menu {
box-shadow: -8px 8px 14px #bfbfbf;
border-top: 1px solid grey;
border-left: 1px solid grey;
border-bottom: 1px solid grey;
border-radius: 8px;
height: 70%;
width: 100%;
overflow: scroll;
overflow-x: hidden;
}

/* Scrollbar styles */
.scroll_menu::-webkit-scrollbar {
width: 12px;
}

.scroll_menu::-webkit-scrollbar-track {
background: #DDDDDD;
border: 1px solid grey;
border-radius: 10px;
-webkit-border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scroll_menu::-webkit-scrollbar-thumb {
background: white;
border: 1px solid #DDDDDD;
border-radius: 10px;
-webkit-border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.scroll_menu::-webkit-scrollbar-thumb:hover {
background: darkgrey;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}


/*CSS market*/
/*.scroll_menu_mrk {
box-shadow: -8px 8px 14px #bfbfbf;
border-top: 1px solid grey;
border-left: 1px solid grey;
border-bottom: 1px solid grey;
border-radius: 8px;
padding: 5px;
height: 100%;
width: 75%;
overflow: scroll;
overflow-x:hidden;
margin: 0 auto;
display: flex;
align-items: left;
justify-content: center;
}*/

.scroll_menu_mrk {
box-shadow: -8px 8px 14px #bfbfbf;
border-top: 1px solid grey;
border-left: 1px solid grey;
border-bottom: 1px solid grey;
border-radius: 8px;
padding: 5px;
/*margin-left: 8px;
margin-bottom: 32px;
margin-top: 4px;*/
height: 90%;
width: 100%;
overflow: scroll;
overflow-x:hidden;
}

/* Scrollbar styles */
.scroll_menu_mrk::-webkit-scrollbar {
width: 12px;
}

.scroll_menu_mrk::-webkit-scrollbar-track {
background: #DDDDDD;
border: 1px solid grey;
border-radius: 10px;
-webkit-border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scroll_menu_mrk::-webkit-scrollbar-thumb {
background: white;
border: 1px solid #DDDDDD;
border-radius: 10px;
-webkit-border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.scroll_menu_mrk::-webkit-scrollbar-thumb:hover {
background: darkgrey;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}

#sell{
 width:200px;
}

#ritira{
 width:200px;
}

#poc1{
 width:200px;
}

#poc2{
 width:200px;
}

#bic{
 width:200px;
}
