body{
  background-size: cover;
  z-index: 10;
  overflow: hidden;
  margin-top: 10%;
  margin-left: 10%%;
  text-align: center;
}

table{
  border-collapse: collapse;
}

td{
  width: 50px;
  height: 50px;
}

.corridor{
  width: 1px;
  height: 1px;
}

.corridor1{
  width: 1px;
  height: 1px;
  background-color: #4E4B56;
  border: 1px solid black;
}

/*
0 - iniziale
12 - normale non visitata
11 - normale visitata
2 - segreta
3 - boss/finale
*/
.current0{
  background-color: #9DA59E;
  background-image: url(/frame/css/image/ipg.png);
  border: 1px solid black;
}

.type0{
  background-color: #9DA59E;
  background-image: url(/frame/css/image/i.png);
  border: 1px solid black;
}

.current1{
  background-color: #9DA59E;
  background-image: url(/frame/css/image/pg.png);
  border: 1px solid black;
}

.type12{
  background-color: #9DA59E;
  border: 1px solid black;
}

.type11{
  background-color: #4E4B56;
  border: 1px solid black;
}

.current2{
  background-color: #9DA59E;
  background-image: url(/frame/css/image/hpg.png);
  border: 1px solid black;
}

.type22{
  background-color: #9DA59E;
  background-image: url(/frame/css/image/h.png);
  border: 1px solid black;
}

.type21{
  background-color: #4E4B56;
  background-image: url(/frame/css/image/h.png);
  border: 1px solid black;
}

.current3{
  background-color: #9DA59E;
  background-image: url(/frame/css/image/bpg.png);
  border: 1px solid black;
}

.type32{
  background-color: #9DA59E;
  background-image: url(/frame/css/image/b.png);
  border: 1px solid black;
}

.type31{
  background-color: #4E4B56;
  background-image: url(/frame/css/image/b.png);
  border: 1px solid black;
}

.fsx{
  position: absolute;
  right: 0;
  left: 22px;
  top: 50px;
  bottom: 0;
}
